@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    ;
}

body {
    background-color: #f4f7fd;
}

header {
    background-color: #2c3e50;
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    color: whitesmoke;
}

.user-wrapper {
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-name {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: red;
}

.user-highScore {
    font-weight: bold;
}

main {
    width: 100%;
    background-color: #f4f7fd;
    /* border: 1px solid red; */
}

.playGround {
    width: 65vw;
    height: 130vh;
    border-radius: 10px;
    margin: 50px auto;
    background-color: white;
    /* border: 1px solid yellow; */
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #2c3e50;
    font-size: 2rem;
}

p {
    font-weight: bold;
    color: #2c3e50;
    font-size: 1.5rem;
}

.scoreBoard {
    border: 2px solid purple;
    width: 100%;
    height: 40vh;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.scoreContainer { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 25vh;
    width: 20vw;
}

.gameRounds {
    background-color: #2c3e50;
    color: white;
    padding: 20px 40px;
    font-size: 1.5rem;
    border-radius: 5px;
}

.score {
    font-size: 1.5rem;
    font-weight: bold;
}

.winning {
    color: #34b369;
}

.loosing {
    color: red;
}

.gameHistory {
    background-color: #f8f9fa;
    height: 40vh;
    width: 90%;
    margin: 40px auto;
    padding: 20px;
    border-radius: 20px;
}

.historyWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

h4 {
    background-color: #ecf0f1;
    padding: 10px 20px;
    width: max-content;
    border-radius: 10px;
}

.roundsHistory > p, 
.humanChoice > p, 
.computerChoice > p, 
.result > p {
    text-align: center;
    padding: 10px 20px;
    font-size: 1.2rem;
}

.user,
.computer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.userChoice>img,
.computerChoice>img {
    width: 150px;
    border-radius: 50%;
    margin: 20px 0;
}

.choice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.moves {
    border: 1px solid red;
}

.choices {
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding: 20px 40px;
}

.rock,
.paper,
.scissors {
    border-radius: 50%;
    cursor: pointer;
}

.rock {
    border: 5px solid red;
}

.paper {
    border: 5px solid blue;
}

.scissors {
    border: 5px solid green;
}

.rock,
.paper,
.scissors {
    width: 150px;
    padding: 20px;
}

.footer-container {
    background-color: #2c3e50;
    display: flex;
    justify-content: space-around;
    padding: 50px 200px 50px 200px;
    color: whitesmoke;
    flex: 1;
}

.footer-container>div {
    width: 300px;
}

.footer-container>div h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.rules-container ul li {
    margin-left: -20px;
    padding: 10px;
    list-style-type: square;
}

.intro-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contact-us-btn {
    padding: 10px;
    font-size: 1rem;
    margin-top: 15px;
    width: 40%;
    border-radius: 5px;
    color: white;
    background-color: #3498db;
    cursor: pointer;
}